{
  "presets": [
    [
      "react-app",
      {
        "absoluteRuntime": false
      }
    ],
    [
      "@babel/preset-typescript",
      {
        "isTSX": true,
        "allExtensions": true
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-modules-commonjs"]
}
